/*www.kmetop.com Edit 2012-6-8*/
.CssDesignerDemoContainer {
	background-image: url(img/grid.gif);
	padding-top: 5px;
	width:350px;
	display:none;
}

.CssDesignerPad .tabsBoxItem {
	padding: 5px;
}

.QrPulldown,.QrSpinner,.CssColor,.CssUpload {
	PADDING: 1px;
}

.CssUpload {
	width: 96px;
}

.QrSpinnerInput,.QrPulldownInput,.CssColorInput,.CssUploadInput {
	height: 20px;
	border: 1px solid #999999;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	font-family: "Lucida Grande", "Arial", "Lucida", "Verdana", "Helvetica",
		"宋体", "sans-serif";
	height: 18px;
	padding: 2px 0 0 2px;
}

.QrSpinnerInput {
	width: 60px;
	border-right: 0;
}

.QrPulldownInput {
	width: 60px;
	border-right: 0;
}

.CssUploadInput {
	width: 60px;
}

.CssColorInput {
	width: 60px;
}

.QrPulldownButton,.QrSpinnerButton {
	POSITION: relative
}

.QrPulldownButton img,.QrSpinnerButton img {
	height: 22px;
}

.QrPulldownFCMenu {
	BORDER: gray 1px solid;
	Z-INDEX: 2;
	BACKGROUND-IMAGE: url(img/pulldownfc-back.gif);
	WIDTH: 400px;
	POSITION: absolute;
	BACKGROUND-COLOR: #eee
}

.QrPulldownMenu {
	BORDER: gray 1px solid;
	BACKGROUND-IMAGE: url(img/pulldown-back.gif);
	WIDTH: 150px;
	POSITION: absolute;
	BACKGROUND-COLOR: #eee;
	z-index: 99999;
	top: 0px;
	left: 0px;
}

.QrPulldownItemHover {
	BORDER: #336699 1px solid;
	PADDING: 3px;
	BACKGROUND-COLOR: #F3F8FC;
	cursor: pointer;
	z-index: 99999;
}

.QrPulldownItem {
	BORDER: transparent 1px solid;
	PADDING: 3px;
	WIDTH: 95%;
	cursor: pointer;
	z-index: 99999;
}

.QrComponent img {
	margin-left: 1px;
	border: 1px solid #999999;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.QrCSSDesignerPadLeft {
	width: 80px;
	color: #50576B;
	font-size: 12px;
	line-height: 18px;
	white-space: nowrap;
	text-align: right;
}