.accordion .menu {
	border: 1px solid #bfd4e0;
	padding: 6px;
	margin: 2px 0 2px 0;
	cursor: pointer;
	color: #05538a;
	background-color: #cae4f7;
	font-weight: bold;
}

.accordion .menuHover {
	color: #05538a;
}

.accordion .menuCurrent {
	border-bottom: 0px solid #bfd4e0;
	margin: 2px 0 0 0;
	color: #05538a;
}

.accordion .menu span {
	background-image: url(arrowclose.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 5px;
	padding-left: 20px;
}

.accordion .menuCurrent span {
	background-image: url(arrowopen.gif);
}

.accordion .content {
	display: none;
	border: 1px solid #bfd4e0;
	border-top: 0;
	padding: 4px;
}