/* datepicker */
#datepicker {
	margin: 0;
	width: 208px;
	z-index: 1001;
	position: absolute;
	display: block;
	border: 1px solid #B3E4EB;
	display: none;
}

#datepicker * {
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 18px
}

#datepicker .main {
	margin: auto;
	padding: 2px;
	text-align: center;
	background: #ffffff;
	zoom: 1;
	position: relative;
}

#datepicker .head {
	background: #EDF8FF;
	border: 1px solid #BEE9F0
}

#datepicker .head select {
	width: 60px;
}

#datepicker .body {
	margin: 2px 0;
	padding: 2px;
	clear: both;
	overflow: hidden;
	border: 1px solid #BEE9F0;
	position: relative;
}

#datepicker .foot {
	background: #EDF8FF;
	border: 1px solid #BEE9F0;
	text-align: right;
	padding: 1px
}

.datepicker-nodate .head,.datepicker-nodate .body {
	display: none;
}

#datepicker dl {
	clear: both;
	margin: auto;
	overflow: hidden;
}

#datepicker dt,#datepicker dd,#datepicker span {
	width: 26px;
	height: 18px;
	display: block;
	float: left;
	overflow: hidden;
	zoom: 1;
	border: 1px solid #fff;
}

#datepicker dt {
	margin-top: 4px;
	font-weight: bold;
	color: #666666;
}

#datepicker .days dd {
	cursor: pointer;
}

#datepicker .days dd.other {
	color: #6A6AFF
}

#datepicker .days dd.selected {
	background: #B3E4EB;
	border: 1px solid #66CCCC;
}

#datepicker .days dd:hover {
	border: 1px solid #66CCCC;
}

#datepicker .close {
	width: 16px;
	height: 16px;
	font-size: 16px;
	display: block;
	cursor: pointer;
	border: 1px solid #CCC;
	text-align: center;
}

#datepicker .clear,#datepicker .confirm {
	background-color: #CFEBEE;
	border: 1px solid #38B1B9;
	color: #08575B;
	margin-top: 2px;
	width: 40px;
	cursor: pointer;
}

#datepicker .time {
	border-collapse: collapse;
	float: left;
	background-color: #fff;
	display: none;
}

#datepicker .time td {
	border: 1px solid #61CAD0;
	line-height: 14px;
	vertical-align: center;
	padding: 1px;
}

#datepicker .time-hh,#datepicker .time-mm,#datepicker .time-ss {
	width: 18px;
	height: 14px;
	border: none
}

#datepicker .time ul {
	list-style: none
}

#datepicker .time-up,#datepicker .time-down {
	font-size: 8px;
	height: 8px;
	line-height: 100%;
	border: 1px solid #BEE9F0;
	cursor: pointer;
}

#datepicker .time .selected {
	background: highlight;
	color: #fff;
	padding: 1px 1px 2px 1px;
}

#datepicker .menu {
	
}

#datepicker .menu .menu-hh,#datepicker .menu .menu-mm,#datepicker .menu .menu-ss
	{
	border: 1px solid #A3C6C8;
	position: absolute;
	left: 1px;
	bottom: 1px;
	background-color: #ffffc0;
	width: 120px;
	display: none;
}

#datepicker .menu-hh .menu-hh,#datepicker .menu-mm .menu-mm,#datepicker .menu-ss .menu-ss
	{
	display: block;
}

#datepicker .menu-hh li,#datepicker .menu-mm li,#datepicker .menu-ss li
	{
	display: block;
	float: left;
	cursor: pointer;
	width: 20px;
	line-height: 21px;
}

#datepicker .menu-hh li:hover,#datepicker .menu-mm li:hover,#datepicker .menu-ss li:hover
	{
	background: #B3E4EB;
}