.jdGrid {
	font-family: "微软雅黑", "宋体", Arial, sans-serif;
	font-size: 12px;
	position: relative;
	border: none;
	overflow: hidden;
	color: #000;
}

.jdGrid .hTable,.jdGrid .bTable {
	BORDER-COLLAPSE: collapse;
	border: 0;
	border-spacing: 0;
}

.jdGrid .hTable th,.jdGrid .bTable td {
	padding: 0;
}

.jdGrid .gBlock {
	background: #E3E3E3 url('images/flexigrid/load-bg.png');
}

.jdGrid .gBlock .loading {
	width: 100%;
	height: 100%;
	display: block;
	background: url('images/flexigrid/indicator_waitanim.gif') no-repeat
		center center;
}

.hideGrid {
	height: 25px !important;
	border-bottom: 1px solid #99bbe8;
}
/*
.ie6fullwidthbug {
	border-right: 0px solid #ccc;
	padding-right: 2px;
}
*/
.jdGrid .nDiv {
	background: #eee url(images/flexigrid/line.gif) repeat-y -1px top;
	border: 1px solid #ccc;
	border-top: 0px;
	overflow: auto;
	left: 0px;
	position: absolute;
	z-index: 999;
	float: left;
}

.jdGrid .nDiv table {
	margin: 2px;
}

.jdGrid .hDivBox {
	float: left;
	padding-right: 40px;
}

.jdGrid .bDiv table {
	margin-bottom: 1px;
}

.jdGrid .bDiv table.autoHeight {
	border-bottom: 0px;
	margin-bottom: 0px;
}

.jdGrid .nDiv td {
	padding: 2px 3px;
	border: 1px solid #eee;
	cursor: default;
}

.jdGrid .nDiv tr:hover td,.jdGrid .nDiv tr.ieColHover td {
	background: #d5effc url(images/flexigrid/hl.png) repeat-x top;
	border: 1px solid #a8d8eb;
}

.jdGrid .nDiv td.selectorCol1 {
	border-right: 1px solid #ccc;
}

.jdGrid .nDiv td.selectorCol2 {
	border-left: 1px solid #fff;
	padding-right: 10px;
}

.jdGrid .nDiv tr:hover td.selectorCol1,.jdGrid .nDiv tr.ieColHover td.selectorCol1
	{
	border-right: 1px solid #d2e3ec;
}

.jdGrid .nDiv tr:hover td.selectorCol2,.jdGrid .nDiv tr.ieColHover td.selectorCol2
	{
	border-left: 1px solid #eef8ff;
}

.jdGrid .nBtn {
	position: absolute;
	height: 25px;
	width: 14px;
	z-index: 900;
	background: #e3f7ff url(images/flexigrid/gridth.gif) repeat-x bottom;
	border: 0px solid #ccc;
	border-left: 1px solid #ccc;
	top: 0px;
	left: 0px;
	margin-top: 1px;
	cursor: pointer;
	display: none;
}

.jdGrid .nBtn div {
	height: 25px;
	width: 12px;
	border-left: 1px solid #fff;
	float: left;
	background: url(images/flexigrid/ddn.png) no-repeat center;
}
/*
.jdGrid .nBtn.srtd {
	background: #e3f7ff url(images/flexigrid/gridth.gif) repeat-x bottom;
}
*/
.jdGrid .mDiv {
	background: url(images/flexigrid/headbg.gif) repeat-x left -1px;
	border: 1px solid #77ABF2;
	border-bottom: 0px;
	font-weight: bold;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}

.jdGrid .mDiv div {
	padding: 4px;
	white-space: nowrap;
}

.jdGrid .mDiv .title {
	background: url("images/flexigrid/grid.png") no-repeat left;
	color: #15428b;
	margin-left: 10px;
	padding-left: 20px;
}

.jdGrid .mDiv .toggleTitle {
	position: absolute;
	top: 4px;
	right: 3px;
	padding: 0px;
	height: 16px;
	width: 16px;
	overflow: hidden;
	border: 1px solid #99bbe8;
	cursor: pointer;
}

.jdGrid .mDiv .toggleTitle:hover {
	background-position: left -2px;
	border-color: #99bbe8;
}

.jdGrid .mDiv .toggleTitle span {
	display: block;
	border-left: 1px solid #eee;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	width: 14px;
	height: 14px;
	background: url(images/flexigrid/uup.png) no-repeat center;
}

.jdGrid .mDiv .toggleTitle.down span {
	background: url(images/flexigrid/ddn.png) no-repeat center;
}
/*toolbar*/
.jdGrid .tDiv  {
	background: #77ABF2 url(images/flexigrid/tbg.gif) repeat-x top;
	position: relative;
	height: 25px;
	border: 1px solid #77ABF2;
	border-bottom: 0px;
	overflow: hidden;
	padding: 1px;
}

.jdGrid .tDiv2 {
	float: left;
	clear: both;
	padding: 1px;
}

/*search bar*/
.jdGrid .sDiv  {
	background: #fafafa url(images/flexigrid/page-bg.gif) repeat-x top;
	position: relative;
	border: 1px solid #77ABF2;
	border-top: 0px;
	overflow: hidden;
	display: none;
}

.jdGrid .sDiv2 {
	float: left;
	clear: both;
	padding: 5px;
	padding-left: 5px;
	width: 1024px;
}

.jdGrid .sDiv2 input,.jdGrid .sDiv2 select {
	vertical-align: middle;
	border: solid 1px #ccc;
}

.jdGrid .btnSeparator {
	float: left;
	height: 22px;
	border-left: 1px solid #77ABF2;
	border-right: 1px solid #fff;
	margin: 1px;
}

.jdGrid .fButton {
	float: left;
	display: block;
	cursor: pointer;
	padding: 1px;
	height: 22px;
}

.jdGrid .fButton div {
	float: left;
	padding: 2px 3px;
}

.jdGrid .fButton span {
	float: left;
	display: block;
}

.jdGrid .fButton:hover,.jdGrid .fButton.fbOver {
	border: #466094 1px solid;
	padding: 0;
	cursor: pointer;
	background-color: #EDF1D5;
}

.jdGrid .fButton:hover div,.jdGrid .fButton.fbOver div {
	padding: 1px 2px;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.jdGrid .hDiv {
	background: #e3f7ff url(images/flexigrid/gridth.gif) repeat-x left 2px;
	position: relative;
	border: 1px solid #77ABF2;
	border-bottom-color: #ddd;
	overflow: hidden;
}
/*
.jdGrid .hDiv table {
	border-right: 1px solid #fff;
}
*/
.jdGrid .cDrag {
	float: left;
	position: absolute;
	z-index: 2;
	overflow: visible;
}

.jdGrid .cDrag div {
	float: left;
	background: none;
	display: block;
	position: absolute;
	height: 24px;
	width: 5px;
	cursor: e-resize;
}

.jdGrid .cDrag div:hover,.jdGrid .cDrag .dragging {
	background: url(images/flexigrid/line.gif) repeat-y 2px center;
}
/*editable layout*/
/*
.jdGrid .iDiv {
	border: 1px solid #316ac5;
	position: absolute;
	overflow: visible;
	background: none;
}

.jdGrid .iDiv input,.jdGrid .iDiv select,.jdGrid .iDiv textarea {
	
}

.jdGrid .iDiv input.tb {
	border: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	padding: 0px;
	background: none;
}
*/
.jdGrid .bDiv {
	border: 1px solid #77ABF2;
	/*border-bottom-color: #ccc;*/
	border-top: 0px;
	background: #f7f7f7;
	overflow: auto;
	position: relative;
}

.jdGrid .bDiv table {
	border-bottom: 0px;
}

.jdGrid .hGrip {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 5px;
	width: 5px;
	background: url(images/flexigrid/line.gif) repeat-x center;
	margin-right: 1px;
	cursor: e-resize;
}

.jdGrid .hGrip:hover,.jdGrid .hGrip.hgOver {
	border-right: 1px solid #999;
	margin-right: 0px;
}

.jdGrid .vGrip {
	height: 5px;
	overflow: hidden;
	position: relative;
	background: #fafafa url(images/flexigrid/headbg.gif) repeat-x 0px -1px;
	border: 1px solid #ccc;
	border-top: 0px;
	text-align: center;
	cursor: n-resize;
}

.jdGrid .vGrip span {
	display: block;
	margin: 1px auto;
	width: 20px;
	height: 1px;
	overflow: hidden;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background: none;
}

.jdGrid .hDiv th /* common cell properties*/ {
	text-align: left;
	border-right: solid 1px #ddd;
	border-left: solid 1px #fff;
	overflow: hidden;
	vertical-align: top !important;
	padding: 0px;
}

.jdGrid .bDiv td /* common cell properties*/ {
	text-align: left;
	border-left: solid 1px #fff;
	border-top: none;
	border-bottom: 1px dotted #ddd;
	border-right: solid 1px #ddd;
	overflow: hidden;
	vertical-align: top !important;
	white-space: nowrap;
	background-color: #fff;
}
/*
.jdGrid .bDiv td.multiSelCol,
.jdGrid .bDiv tr.trOver td.multiSelCol,
.jdGrid .bDiv tr:hover td.multiSelCol
{
    background:url(images/flexigrid/grid3-special-col-bg.gif) repeat-y;    
}
.jdGrid .bDiv tr.trSelected:hover td.multiSelCol,
.jdGrid .bDiv tr.trSelected.trOver td.multiSelCol,
.jdGrid tr.trSelected td.multiSelCol
{
   background: #d5effc url(images/flexigrid/grid3-special-col-sel-bg.gif) repeat-y;
}
*/
.jdGrid .hDiv th div,.jdGrid .bDiv td div,.colCopy div
	/* common inner cell properties*/ {
	padding: 4px;
	border-left: none;
}

.jdGrid .hDiv th div {
	font-weight: bold;
	height: 17px;
}

.jdGrid .hDiv th.cth div {
	padding: 1px 4px 1px 4px;
}

.jdGrid .bDiv td.multiSelCol div {
	padding: 1px 4px 1px 4px;
}

.jdGrid .hDiv th,.colCopy {
	font-weight: normal;
	cursor: default;
	white-space: nowrap;
	overflow: hidden;
}

.jdGrid .multiChkItem {
	border: none;
}

.jdGrid .noBorder {
	border: none;
}

.colCopy {
	background: #e3f7ff url(images/flexigrid/gridth.gif) repeat-x bottom;
	border: 1px solid #ccc;
	border-bottom: 0px;
	overflow: hidden;
}

.jdGrid .hDiv th.sorted {
	background: #e3f7ff url(images/flexigrid/gridth.gif) repeat-x bottom;
	border-bottom: 0px solid #ccc;
}

.jdGrid .hDiv th.thOver {
	
}

.jdGrid .hDiv th.thOver div,.jdGrid .hDiv th.sorted.thOver div {
	/*border-bottom: 1px solid orange;*/
	padding-bottom: 4px;
}

.jdGrid .hDiv th.sorted div {
	border-bottom: 0px solid #ccc;
	padding-bottom: 4px;
}

.jdGrid .hDiv th.thMove {
	background: #fff;
	color: #fff;
}

.jdGrid .hDiv th.sorted.thMove div { /*border-bottom: 1px solid #fff;*/
	padding-bottom: 4px
}

.jdGrid .hDiv th.thMove div {
	background: #fff !important;
}

.jdGrid .hDiv th .sdesc {
	background: url(images/flexigrid/sort_desc.gif) no-repeat center top;
}

.jdGrid .hDiv th .sasc {
	background: url(images/flexigrid/sort_asc.gif) no-repeat center top;
}

.jdGrid .hDiv th div {
	
}

.jdGrid span.colDropLeft {
	display: block;
	background: url(images/flexigrid/prev.gif) no-repeat -4px center;
	width: 24px;
	height: 24px;
	position: relative;
	top: -24px;
	margin-bottom: -24px;
	z-index: 3;
}

.jdGrid .hDiv span.colDropRight {
	display: block;
	background: url(images/flexigrid/next.gif) no-repeat 12px center;
	width: 24px;
	height: 24px;
	float: right;
	position: relative;
	top: -24px;
	margin-bottom: -24px;
}

.jdGrid .bDiv td div {
	border-top: 0px solid #fff;
	padding-bottom: 2px;
}

.jdGrid tr td.sorted {
	
}

.jdGrid tr td.sorted div {
	
}

.jdGrid tr.erow td {
	background: #F5FFEF;
}

.jdGrid tr.erow td.sorted { /*background: #EEF6FF;*/
	
}

.jdGrid tr.erow td.sorted div {
	
}

.jdGrid .bDiv tr:hover td,.jdGrid .bDiv tr:hover td.sorted,.jdGrid .bDiv tr.trOver td.sorted,.jdGrid .bDiv tr.trOver td
	{
	background: #FFFFBB;
	border-left: 1px solid #eef8ff;
	border-bottom: 1px dotted #a8d8eb;
}

.jdGrid .bDiv tr.trSelected:hover td,.jdGrid .bDiv tr.trSelected:hover td.sorted,.jdGrid .bDiv tr.trOver.trSelected td.sorted,.jdGrid .bDiv tr.trOver.trSelected td,.jdGrid tr.trSelected td.sorted,.jdGrid tr.trSelected td
	{
	background: #7cc5e5; /* url(images/flexigrid/hl.png) repeat-x top;*/
	border-right: 1px solid #b8d0d6;
	border-left: 1px solid #eef8ff;
	border-top: none;
}

/* novstripe adjustments */
.jdGrid.novstripe .bDiv table {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.jdGrid.novstripe  .bDiv td {
	border-right-color: #fff;
}

.jdGrid.novstripe .bDiv tr.erow td.sorted {
	border-right-color: #e3e3e3;
}

.jdGrid.novstripe .bDiv tr td.sorted {
	border-right-color: #f3f3f3;
}

.jdGrid.novstripe  .bDiv tr.erow td {
	border-right-color: #f7f7f7;
	border-left-color: #f7f7f7;
}

.jdGrid.novstripe .bDiv tr.trSelected:hover td,.jdGrid.novstripe .bDiv tr.trSelected:hover td.sorted,.jdGrid.novstripe .bDiv tr.trOver.trSelected td.sorted,.jdGrid.novstripe .bDiv tr.trOver.trSelected td,.jdGrid.novstripe tr.trSelected td.sorted,.jdGrid.novstripe tr.trSelected td
	{
	border-right: 1px solid #0066FF;
	border-left: 1px solid #0066FF;
}

.jdGrid.novstripe .bDiv tr.trOver td,.jdGrid.novstripe .bDiv tr:hover td
	{
	border-left-color: #d9ebf5;
	border-right-color: #d9ebf5;
}

/* end novstripe */
.jdGrid .pDiv {
	background: url(images/flexigrid/page-bg.gif) repeat-x;
	/*padding-top: 3px;*/
	border: 1px solid #77ABF2;
	border-top: 0px;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	padding-left: 3px;
}

.jdGrid .pDiv .pDiv2 {
	margin: 3px;
	margin-left: -2px;
	float: left;
	width: 1024px;
}

.pGroup {
	float: left;
	background: none;
	height: 24px;
	margin: 0px 5px;
}

.pGroup select {
	width: 50px;
}

.jdGrid .pDiv .pPageStat,.jdGrid .pDiv .pcontrol {
	position: relative;
	top: 5px;
	overflow: visible;
}

.jdGrid .pDiv input {
	vertical-align: text-top;
	position: relative;
	top: -5px;
}

.jdGrid .pDiv  .pButton {
	float: left;
	width: 22px;
	height: 22px;
	border: 0px;
	cursor: pointer;
	overflow: hidden;
}

.jdGrid .pDiv  .pButton:hover,.jdGrid .pDiv  .pButton.pBtnOver {
	width: 20px;
	height: 20px;
	border: 1px solid #77ABF2;
	cursor: pointer;
}

.jdGrid .pDiv  .pButton span {
	width: 20px;
	height: 20px;
	display: block;
	float: left;
}

.jdGrid .pDiv  .pButton:hover span,.jdGrid .pDiv  .pButton.pBtnOver span
	{
	width: 19px;
	height: 19px;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
}

.jdGrid .pSearch {
	background: url(images/flexigrid/magnifier.png) no-repeat center;
}

.jdGrid .pFirst {
	background: url(images/flexigrid/first.gif) no-repeat center;
}

.jdGrid .pPrev {
	background: url(images/flexigrid/prev.gif) no-repeat center;
}

.jdGrid .pNext {
	background: url(images/flexigrid/next.gif) no-repeat center;
}

.jdGrid .pLast {
	background: url(images/flexigrid/last.gif) no-repeat center;
}

.jdGrid .pReload {
	background: url(images/flexigrid/load.png) no-repeat center;
}

.jdGrid .pReload.loading {
	background: url(images/flexigrid/load.gif) no-repeat center;
}

/* ie adjustments */
.jdGrid.ie .hDiv th div,.jdGrid.ie  .bDiv td  div,.colCopy.ie div
	/* common inner cell properties*/ {
	overflow: hidden;
}