.dialogHeader,.dialogHeader_r,.dialogHeader_c,.dialogFooter,.dialogFooter_r,.dialogFooter_c
	{
	background: url(./images/dialog.png) no-repeat;
}

.dialogHeader h1,.dialogHeader .close,.dialogHeader .maximize,.dialogHeader .restore,.dialogHeader .minimize
	{
	background: url(./images/dialog_icon.png) no-repeat;
}

.dialog {
	display: block;
	text-align: left;
	position: absolute;
	z-index: 42;
}

.dialogHeader,.dialogHeader_r,.dialogHeader_c {
	display: block;
	overflow: hidden;
	height: 28px;
}

.dialogHeader .close,.dialogHeader .maximize,.dialogHeader .restore,.dialogHeader .minimize
	{
	display: block;
	overflow: hidden;
	text-indent: -1000px;
	width: 19px;
	height: 19px;
	position: absolute;
	top: 5px;
}

.dialogHeader h1 {
	display: block;
	overflow: hidden;
	height: 28px;
	padding: 0 5px 0 20px;
	line-height: 28px;
	background-position: 0 -450px;
	font-size: 12px;
	color: #183152;
}

.dialogHeader {
	padding-left: 5px;
	background-position: 0 0;
	position: relative;
}

.dialogHeader_r {
	padding-right: 5px;
	background-position: 100% -50px;
}

.dialogHeader_c {
	padding: 0;
	background-position: 0 -100px;
	background-repeat: repeat-x;
}

.dialogHeader .close {
	background-position: 0 0;
	right: 4px;
}

.dialogHeader .close:hover {
	background-position: 0 -50px;
}

.dialogHeader .maximize {
	background-position: 0 -100px;
	right: 23px;
}

.dialogHeader .maximize:hover {
	background-position: 0 -150px;
}

.dialogHeader .restore {
	display: none;
	background-position: 0 -200px;
	right: 23px;
}

.dialogHeader .restore:hover {
	background-position: 0 -250px;
}

.dialogHeader .minimize {
	background-position: 0 -300px;
	right: 42px;
}

.dialogHeader .minimize:hover {
	background-position: 0 -350px;
}

.dialogContent {
	border-color: #b8d0d6;
	background: #eef4f5;
	display: block;
	overflow: auto;
	padding: 5px 5px 1px 5px;
	border-style: solid;
	border-width: 0 1px;
}

.dialogFooter_r,.dialogFooter_c {
	display: block;
	overflow: hidden;
	height: 5px;
}

.dialogFooter {
	padding-left: 5px;
	background-position: 0 -150px;
}

.dialogFooter_r {
	padding-right: 5px;
	background-position: 100% -200px;
}

.dialogFooter_c {
	padding: 0;
	background-position: 0 -250px;
	background-repeat: repeat-x;
}

/* Shadow */
.shadow_h_l {
	background: url(./images/shadow/shadow_h_l.png) no-repeat;
}

.shadow_h_r {
	background: url(./images/shadow/shadow_h_r.png) no-repeat;
}

.shadow_h_c {
	background: url(./images/shadow/shadow_h_c.png) repeat-x;
}

.shadow_c_l {
	background: url(./images/shadow/shadow_c_l.png) repeat-y;
}

.shadow_c_r {
	background: url(./images/shadow/shadow_c_r.png) repeat-y;
}

.shadow_c_c {
	background: url(./images/shadow/shadow_c_c.png) repeat;
}

.shadow_f_l {
	background: url(./images/shadow/shadow_f_l.png) no-repeat;
}

.shadow_f_r {
	background: url(./images/shadow/shadow_f_r.png) no-repeat;
}

.shadow_f_c {
	background: url(./images/shadow/shadow_f_c.png) repeat-x;
}

.shadow {
	display: none;
	overflow: hidden;
	position: absolute;
	z-index: 41;
}

.shadow_h,.shadow_h_l,.shadow_h_r,.shadow_h_c,.shadow_f,.shadow_f_l,.shadow_f_r,.shadow_f_c
	{
	display: block;
	overflow: hidden;
	height: 6px;
}

.shadow_h,.shadow_c,.shadow_f {
	position: relative;
}

.shadow_h_l,.shadow_c_l,.shadow_f_l {
	width: 6px;
	position: absolute;
	top: 0;
	left: 0;
}

.shadow_h_r,.shadow_c_r,.shadow_f_r {
	width: 6px;
	position: absolute;
	top: 0;
	right: 0;
}

.shadow_h_c,.shadow_c_c,.shadow_f_c {
	margin: 0 6px;
}

.shadow_c,.shadow_c_l,.shadow_c_r,.shadow_c_c
	{
	display: block;
	overflow: hidden;
	height: 100%;
}
/*dialogBackground*/
.dialogBackground {
	display: none;
	width: 100%;
	height: 100%;
	opacity: 0.4;
	filter: alpha(opacity = 40);
	background: #FFF;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
}